@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

h1, h2 {
  font-family: sans-serif;
  font-weight: 400;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.flex {
  display: flex;
}

.flex_space {
  display: flex;
  justify-content: space-between;
}

button {
  border: none;
  background: none;
  outline: none;
  transition: 0.5s;
  cursor: pointer;
}

.primary-btn {
  padding: 15px 40px;
  background: #0D91A3;
  font-weight: bold;
  color: white;
}

.secondary-btn {
  padding: 15px 40px;
  background: none;
  border: 2px solid white;
  font-weight: bold;
  color: white;
}

.container {
  max-width: 85%;
  margin: auto;
}

/*--------header---------*/
header {
  height: 10vh;
  line-height: 10vh;
  padding: 0 20px;
}

header img {
  margin: 10px 0;
}

header ul {
  display: inline-block;
}

header ul li {
  display: inline-block;
  text-transform: uppercase;
}

header ul li a {
  color: #000;
  margin: 0 10px;
  transition: 0.5s;
}

header ul li a:hover {
  color: #0D91A3;
}

header i {
  margin: 0 20px;
}

header button {
  padding: 13px 40px;
}

header .navlinks span {
  display: none;
}

@media only screen and (max-width:768px) {
  header ul {
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #0D91A3;
    overflow: hidden;
    transition: max-height 0.5s;
    text-align: center;
    z-index: 9;
  }

  header ul li {
    display: block;
  }

  header ul li a {
    color: white;
  }

  header i {
    color: white;
  }

  header .navlinks span {
    color: black;
    display: block;
    cursor: pointer;
    line-height: 10vh;
    font-size: 25px;
  }
}

/*--------header---------*/
/*--------home---------*/
.home {
  height: 60vh;
  color: #fff;
}

.home img {
  width: 100%;
  height: 60vh;
}

.home .text {
  position: absolute;
  top: 35%;
  left: 5%;
}

.home .text h1 {
  font-size: 80px;
  font-family: serif;
  font-weight: 400;
}

.home p {
  margin: 20px 0;
}

.home button {
  margin-right: 20px;
}

.owl-nav .owl-prev,
.owl-nav .owl-next {
  position: absolute;
  top: 40%;
  height: 50px;
  width: 50px;
  background: rgba(0, 0, 0, 0.5) !important;
  color: #fff;
}

.owl-nav .owl-prev {
  left: 0;
}

.owl-nav .owl-next {
  right: 0;
}

/*--------home---------*/
/*--------book---------*/
.grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 10px;
}

input {
  outline: none;
  border: none;
  width: 100%;
}

.book {
  padding: 25px 0;
  background: #efcb17;
  color: #fff;
}

h1 {
  font-family: serif;
}

.book h1 {
  font-size: 25px;
}

.book h1 span {
  color: #0D91A3;
}

.book input {
  padding: 18px;
}

.book input:nth-last-child(1) {
  background: #0D91A3;
  color: #fff;
}

/*--------book---------*/

/*--------login--------*/
#log {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  width: 50%;
  margin: auto;
  margin-top: 110px;
}

#login {
  display: flex;
  justify-content: space-around;
  /* align-items: center; */
  flex-direction: column;
  width: 45%;
}

#login h1 {

  font-size: 29.5px;
}

#login label {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 13px;
  font-weight: bolder;
  margin: 2px;
}

#login input {
  padding: 15px 15px;
  border-radius: 10px;
  margin: 10px 2px;
  width: 88%;
  border: 1px solid rgb(163, 155, 155);
}

#login .other {
  display: flex;
  padding: 2px 20px;

  align-items: center;
  border: 1px solid rgb(109, 116, 102);
  margin: 5px;
  border-radius: 10px;
}

#login .other:hover {
  background-color: rgb(116, 111, 111);
  color: rgb(255, 255, 255);
}

#login .image {
  width: 9%;
  margin-right: 50px;
}

#login #or {
  text-align: center;
  z-index: 1;
  background-color: rgb(255, 255, 255);
  color: #a09999;
  font-size: 15px;
  font-weight: 500;
  width: 5%;
  margin: auto;
  margin-bottom: 10px;

}

#login p {
  padding: 0px 10px;
  font-size: 14px;
  line-height: 20px;
}

#login span {
  color: #56a7e1;
}

#login hr {
  position: relative;
  top: 20px;
  width: 94%;
  z-index: -1;
}
        
/*--------login--------*/

/*--------login2--------*/
#log{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  width: 50%;
  margin: auto;
  margin-top: 110px;
}

#login{
  display: flex;
  justify-content: space-around;
  /* align-items: center; */
  flex-direction: column;
  width: 45%;
}
#login h1{
 
  font-size: 29.5px;
}
#login label{
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 13px;
  font-weight: bolder;
  margin: 2px;
}
#login input{
  padding: 15px 15px;
  border-radius: 10px;
  margin: 10px 2px;
  width: 88%;
 border: 1px solid rgb(163, 155, 155);
}
#login p{  
  padding: 0px 10px;
  font-size: 15px;
}
#login a{
  color: #56a7e1;
}
#login b{
  margin-top: 20px;
  margin-left: -120px;
}
#login #id{
position: relative;
left: 2%;
font-family:Arial, Helvetica, sans-serif
} 

/*--------login2--------*/

/*--------signup---------*/
#sign{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  width: 50%;
  margin: auto;
  margin-top: 70px;
}
#login{
  display: flex;
  justify-content: space-around;
  /* align-items: center; */
  flex-direction: column;
  width: 45%;
}
h1{
  font-size: 29.5px;
}
label{
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 13px;
  font-weight: bolder;
  margin: 2px;
}
input{
  padding: 15px 15px;
  border-radius: 10px;
  margin: 10px 2px;
  width: 88%;
  border: 1px solid rgb(163, 155, 155);
}
p{  
  padding: 0px 10px;
  font-size: 15px;
}
a{
  color: #56a7e1;
}
b{
  margin-top: 20px;
  margin-left: -120px;
}
#id{
position: relative;
right: 8%;
}       
/*--------signup---------*/

/*--------about---------*/
.about .left {
  width: 70%;
  padding: 25px;
}

.top {
  margin-top: 20px;
}

.mtop {
  margin-top: 2
  PA0px;
}

.heading h1 {
  font-size: 100px;
  font-weight: 500;
  opacity: 0.1;
  font-family: serif;
  position: absolute;
  top: -30px;
}

.heading h2 {
  margin: 30px 0;
  font-size: 50px;
  font-family: serif;
  font-weight: 400;
}

.about .heading h1 {
  top: 50px;
}

.about {
  position: relative;
}

.about .left {
  margin-top: 20px;
}

.about .right{
  margin-top: 35px;
}
.about p {
  font-size: 15px;
}

.about img{
  height: 300px;
  width: 350px;
}
.about button {
  margin: 30px 0;
}

/*--------about---------*/
/*--------counter---------*/
.counter {
  background-image: url("../images/background-1.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 30vh;
  width: 100%;
  color: #fff;
}

.counter .grid {
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
  place-items: center;
  padding-top: 60px;
}

.counter h1 {
  font-size: 50px;
}

.counter hr {
  width: 50%;
  margin: 10px auto;
  background: #0D91A3;
  height: 2px;
  border: none;
}

/*--------counter---------*/
/*--------place---------*/
.place .heading {
  position: relative;
}

.place img{
  width: 300px;
  height: 200px;
}

.place .image {
  margin: 10px;
}

.place .text {
  font-family: 'Times New Roman', Times, serif;
  padding: 5px;
}

.owl-carousel1 .owl-nav .owl-prev,
.owl-carousel1 .owl-nav .owl-next {
  position: absolute;
  top: -10%;
  height: 30px;
  width: 30px;
  background: #0D91A3 !important;
}

.owl-carousel1 .owl-nav .owl-prev i,
.owl-carousel1 .owl-nav .owl-next i {
  color: #fff;
}

.owl-carousel1 .owl-nav .owl-prev {
  left: 0;
}

.owl-carousel1 .owl-nav .owl-next {
  right: 0;
}

/*--------place---------*/
/*--------spot---------*/
.spot {
  position: relative;
}

.spot img {
  width: 200px;
  height: 200px;
}

.spot .img {
  position: relative;
}

.spot .img::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  transition: 0.5s;
}

.overlay {
  position: absolute;
  top: 30%;
  left: 15%;
  z-index: 3;
  text-align: center;
  color: white;
  opacity: 0;
  transition: 0.5s;
}

.spot span {
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 50%;
  text-align: center;
  border: 2px solid white;
}

.overlay h3 {
  margin-top: 20px;
  font-weight: 500;
}

.spot .items:hover .overlay,
.spot .items:hover .img::after {
  opacity: 1;
  cursor: pointer;
}

.spot .owl-nav .owl-prev {
  left: 0;
}

.spot .owl-nav .owl-next {
  right: 0;
}

.spot .owl-nav .owl-next,
.spot .owl-nav .owl-prev {
  top: 10%;
}

/*--------spot---------*/
/*--------services---------*/

.services .left {
  padding: 30px 0;
}

.services{
  position: relative;
  margin: 20px;
}

.grid2 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}


.services .box {
  border: 1px solid rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: 0.5s;
  padding: 20px;
}

.services .box .text {
  padding: 30px 0;
  border: 1px dashed #fff;
}

.services i {
  font-size: 50px;
  color: #0D91A3;
  transition: 0.5s;
}

.services h3 {
  font-size: 20px;
  font-weight: 400;
  margin-top: 20p;
  transition: 0.5s;
}


.services .box:hover {
  background: #0D91A3;
  color: #fff;
  cursor: pointer;
}

.services .box:hover i,
.services .box:hover h3 {
  color: #fff;
}

/*--------services---------*/
/*--------Customer---------*/
.Customer {
  background-image: url("../images/background-2.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 50vh;
  width: 100%;
  color: #fff;
  text-align: center;
}

.Customer .container {
  max-width: 70%;
}

.Customer .item {
  padding: 3% 0;
}

.Customer i {
  width: 100px;
  height: 100px;
  background: #0D91A3;
  line-height: 100px;
  border-radius: 50%;
  font-size: 50px;
  margin-bottom: 20px;
}

.Customer p {
  line-height: 25px;
}

.Customer h3 {
  margin-top: 10px;
  color: #0D91A3;
}

.Customer span {
  font-size: 15px;
}

.owl-carousel2 .owl-dots {
  position: absolute;
  bottom: 70px;
  left: 46.6%;
}

.owl-carousel2 .owl-dots i {
  color: #0D91A3;
}

.owl-carousel2 .owl-dots i:hover button {
  color: #0D91A3 !important;
}

.owl-carousel2 span {
  border: 2px solid #fff;
  background: transparent !important;
}

.owl-carousel2 .active span {
  background: #0D91A3 !important;
  border: 2px solid #0D91A3;
}

/*--------Customer---------*/


/*--------subscriber---------*/
.subscriber {
  position: relative;
  margin-top: 100px;
}

.subscriber .container {
  background: #0D91A3;
  padding: 20px 30px;
  position: absolute;
  top: -50px;
  left: 8%;
  width: 100%;
}

.subscriber h1 {
  width: 100%;
  font-size: 40px;
  color: #fff;
  margin-top: 10px;
}

.subscriber input {
  padding: 15px;
}

.subscriber input:nth-last-child(2) {
  width: 90%;
  background: rgba(193, 234, 234, 0.4);
}

.subscriber input:nth-last-child(1) {
  margin-left: 20px;
  width: 30%;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
}

/*--------subscriber---------*/

/*---------contact page--------*/

.contactUs h1 {
  font-size: 2.3rem;
  font-weight: 800;
  letter-spacing: 1.5px;
}

.contactUs p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.contactUs textarea,
.contactUs input {
  font-size: 1.2rem;
  width: 100%;
  padding: 0.5rem 1rem;
  margin-bottom: 10px;
  border: 2px solid rgba(11, 84, 84, 0.4);
  border-radius: 5px;
}

.contactUs textarea {
  height: 160px;
}

.contactUs input:focus,
.contactUs textarea:focus {
  outline: none;
  border-color: rgba(11, 84, 84, 0.4);
}
/*---------contact page--------*/

/*---------search page----------*/
.searchItem {
  border: 2px solid rgb(40, 99, 136);
  padding: 3px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 10px;
}

.searchItem img {
  width: 200px;
  height: 180px;
  object-fit: cover;
}

.siDesc {
  display: flex;
  flex-direction: column;
  gap: 4px;
  flex: 2;
}

.siTitle {
  font-size: 28px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  color: #0071c2;
}

.siDistance {
  font-size: 12px;
}

.siTaxiOp {
  font-size: 12px;
  background-color: #008009;
  color: white;
  width: max-content;
  padding: 4px;
  border-radius: 3px;
}

.siSubtitle{
  font-size: 14px;
  font-weight: bold;
}

.siFeatures{
  font-size: 14px;
}

.siCancelOp{
  font-size: 12px;
  color: #008009;
  font-weight: bold;
}

.siCancelOpSubtitle{
  font-size: 12px;
  color: #008009;
}

.siDetails {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between
}

.siRating{
  display: flex;
  justify-content: space-between
}

.siRating span{
  font-weight: 500;
}
.siRating button{
 background-color: #003580;
 color: white;
 padding: 5px;
 font-weight: bold;
 border: none;
}

.siDetailTexts{
  text-align: right;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.siPrice{
  font-size: 25px;
}

.siTaxOp{
  font-size: 10px;
  color: gray;
}

.siCheckButton{
  background-color: #0071c2;
  color: white;
  font-size: 18px;
  font-weight: bold;
  padding: 8px 5px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
/*---------search page----------*/

/*--------footer---------*/
footer {
  background: #282834;
  color: #b6b7b9;
  padding: 8% 0 5% 0;
}

footer .grid {
  grid-template-columns: 6fr 3fr 3fr;
}

footer p {
  color: #b6b7b9;
  font-size: 15px;
  line-height: 25px;
}

footer .icon i {
  margin: 20px 20px 20px 0;
  color: #b6b7b9;
}

footer h2 {
  color: #fff;
  margin-bottom: 10px;
}

footer li {
  margin-bottom: 20px;
}

footer i {
  color: #0D91A3;
  margin: 20px 0;
  margin-right: 20px;
}

footer label {
  margin: 20px 0;
}

/*--------footer---------*/
@media only screen and (max-width:768px) {
  .home {
    color: #fff;
    height: 50vh;
  }

  .home img {
    width: 100%;
    height: 50vh;
  }

  .left, .right {
    width: 100%;
  }

  .book h1 {
    margin-bottom: 20px;
  }

  .container.flex,
  .book .flex_space {
    flex-direction: column;
  }

  .book .grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .counter .grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .owl-carousel .owl-nav .owl-prev {
    left: 80%;
  }

  .spot .owl-nav .owl-prev {
    left: 75%;
  }

  .place .owl-nav .owl-prev,
  .place .owl-nav .owl-next {
    top: -30%;
  }

  .spot .owl-nav .owl-prev,
  .spot .owl-nav .owl-next {
    top: -80%;
  }

  .services .flex_space {
    flex-direction: column;
  }

  .Customer {
    height: 60vh;
  }

  .Customer .container {
    max-width: 80%;
  }

  .owl-carousel2 .owl-dots {
    bottom: 0;
    left: 44.5%;
  }

  .news .content.flex {
    flex-direction: column;
  }

  .news .left {
    padding: 30px 0;
    width: 100%;
  }

  .news .right {
    width: 100%;
  }

  .subscriber {
    position: relative;
    background: #044e62;
  }

  .subscriber .container {
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 30px;
    position: relative;
  }

  .subscriber .flex_space {
    flex-direction: column;
  }

  .subscriber input:nth-last-child(2) {
    margin: 20px 0;
    width: 100%;
  }

  .subscriber input:nth-last-child(1) {
    margin: 0;
  }

  footer .grid {
    grid-template-columns: repeat(1, 1fr);
  }
}